<div class="container mx-auto">
    <form class="flex justify-center mx-auto mb-3">
        <label for="search" class="inline-block text-xl font-bold text-gray-800 capitalize pb-2 pr-2">Search:</label>
        <input
            type="text"
            (keyup)="onKey($event)"
            name="search"
            maxlength="20"
            pattern="[a-zA-Z]*"
            id="search"
            class="peer focus:outline-none p-2 w-64 bg-gray-50 rounded-lg h-8 border border-gray-300"
        />
    </form>
    <ul class="flex flex-wrap justify-center items-start">
        <ng-container *ngIf="!sorted">
            <app-pokemon-list-item *ngFor="let pokemon of pokemons" [pokemon]="pokemon" class="align-top relative top-0">
            </app-pokemon-list-item>
        </ng-container>
        <ng-container *ngIf="sorted">
            <app-pokemon-list-item *ngFor="let pokemon of sortedPokemon" [pokemon]="pokemon" class="align-top relative top-0">
            </app-pokemon-list-item>
        </ng-container>
    </ul>
</div>
