<nav class="shadow-black drop-shadow-md bg-gradient-to-b from-blue-50 to-white sticky top-0 w-full z-50 border-b-2 border-b-slateblue-300">
    <div class="h-10 mx-auto px-5 flex items-center justify-between">
        <a class="text-xl flex mt-2 select-none">
            <img class="w-10 -ml-2 mr-2 bottom-1 relative" src="./assets/images/pokeball_logo.png" alt="logo" /> PokéTrainer</a
        >

        <ul *ngIf="user !== undefined" class="flex items-center gap-5">
            <li><a routerLink="catalogue" class="hover:text-red-800 transition-colors font-bold" href="">Poké Catalogue</a></li>
            <li><a routerLink="trainer" class="hover:text-red-800 transition-colors font-bold" href="">Trainer Page</a></li>
        </ul>
    </div>
</nav>
