<main class="py-8">
    <div class="flex justify-center items-center pt-2 pb-6">
        <h1 *ngIf="user !== undefined" class="text-2xl font-bold text-gray-800 capitalize pb-2">Hello {{ user.username }}!</h1>
        <button
            id="logOut"
            type="submit"
            (click)="handleLogout()"
            class="bg-red-800 w-16 h-6 rounded-3xl text-white mb-1 shadow-md hover:bg-red-900 ml-2 pb-2 text-sm text-center"
        >
            Log out
        </button>
    </div>
    <div class="flex justify-center items-center pb-2">
        <div *ngIf="pokemonList.length > 0">
            <h2 *ngIf="user !== undefined" class="text-xl font-bold text-gray-800">Here is a list of your caught Pokémon...</h2>
        </div>
        <div class="text-center" *ngIf="pokemonList.length <= 0">
            <h2 *ngIf="user !== undefined" class="text-xl font-bold text-gray-800">You have not yet caught any Pokémon...</h2>
            <h2 class="text-base text-gray-800 font-semibold">
                Go click a Pokéball on
                <a class="underline underline-offset-3 font-bold decoration-red-800" routerLink="/catalogue">catalogue page!</a>
            </h2>
        </div>
    </div>
    <main *ngIf="pokemonList.length > 0" class="container mx-auto py-4 block">
        <app-pokemon-list [pokemons]="pokemonList"></app-pokemon-list>
    </main>
</main>
