<div class="grid place-items-center">
    <form #loginForm="ngForm" (ngSubmit)="loginSubmit(loginForm)">
        <label for="username" class="block text-2xl font-bold text-gray-800 capitalize pb-2">What is your name?</label>
        <div>
            <input
                type="text"
                ngModel
                #username="ngModel"
                name="username"
                required
                minlength="2"
                maxlength="20"
                pattern="[a-zA-Z]*"
                id="username"
                class="peer focus:outline-none p-2 w-64 bg-gray-50 rounded-lg h-8 border border-gray-300 invalid:text-red-800 focus:invalid:border-red-800 focus:valid:text-green-800 focus:valid:border-green-800 focus:border-2"
            />
            <button
                type="submit"
                [disabled]="loginForm.form.invalid"
                class="relative text-center -top-6 left-46 pr-8 material-icons bg-green-800 shadow-xl pb-0.5 w-7 h-7.5 mx-auto -my-4 rounded-lg rounded-l-none text-white ml-10 peer-valid:cursor-pointer peer-valid:hover:bg-green-900 peer-invalid:bg-red-800 peer-invalid:opacity-50"
            >
                <span class="relative top-0.25">login</span>
            </button>
        </div>
        <div class="relative bottom-4" *ngIf="username.errors && (username.dirty || username.touched)">
            <p *ngIf="username.errors?.['required']" class="text-red-500 text-xs">You must type in a name!</p>
            <p *ngIf="username.errors?.['minlength'] || username.errors?.['maxlength']" class="text-red-500 text-xs">
                Name must be between 2 - 20 characters long!
            </p>
            <p *ngIf="username.errors?.['pattern']" class="text-red-500 text-xs">Only letters are allowed in the name!</p>
        </div>
    </form>
</div>
