<aside class="absolute top-2 right-3">
    <button (click)="onCatchClick()">
        <ng-container *ngIf="!loading; else pulse">
            <ng-container *ngIf="isCaught; then caught; else notCaught"></ng-container>

            <ng-template #caught>
                <img
                    class="transition-all saturate-50 w-8 opacity-100 hover:opacity-50"
                    src="./assets/images/pokeball_icon.png"
                    alt="caught"
                />
            </ng-template>

            <ng-template #notCaught>
                <img
                    class="transition-all saturate-0 w-8 opacity-25 hover:opacity-50 hover:saturate-50"
                    src="./assets/images/pokeball_icon.png"
                    alt="n_caught"
                />
            </ng-template>
        </ng-container>

        <ng-template #pulse>
            <img class="saturate-50 w-8 opacity-50 animate-spin" src="./assets/images/pokeball_icon.png" alt="pulse" />
        </ng-template>
    </button>
</aside>
