<main class="flex justify-center items-center py-40 align-middle">
    <div class="mx-auto align overflow-hidden bg-white rounded-3xl h-36 w-80 shadow-md p-8 shadow-red-900 border-solid border-2">
        <div class="flex justify-center items-center">
            <app-login-form (login)="handleLogin()"></app-login-form>
        </div>
    </div>
</main>
